.header {
  display: flex;
  align-items: center;
}

.header a {
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  color: #333;
}

.header .logo {
  margin-right: 90px;
}

.title-group {
  padding-left: 25px;
}

.title-group i {
  padding-right: 10px;
}
