<mat-card>
  <mat-card-title>
    Excluir Produto
  </mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" autocomplete="off" name="name" value={{product.name}} disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Preço" type="number" autocomplete="off" name="price" value={{product.price}} disabled>
    </mat-form-field>
  </form>

  <button class="saveBtn" mat-raised-button (click)="deleteProduct()" color="warn">Excluir</button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
  </mat-card>

