/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.material-icons {
  vertical-align: middle;
}

.snackbar {
  background: #28a745;
  color: #fff;
  padding: 20px;
  font-size: 1.6rem;
}

.snackbar-error {
  background: #e35e6b;
  color: white;
  padding: 20px;
  font-size: 1.6rem;
}
